/* CSS variable part start */
:root{
    --main: #0872b9;
    --main_hover: #5bc5f4;
    --white: #ffffff;
    --gray-white: #e7e7e7;
    --ah_black_color: #353535;
    --ap_black_color: #555555;
    --opensens_font: 'Open Sans', sans-serif;
    --oswald_font: 'Oswald', sans-serif;
}
/* CSS variable part end */
/* Common CSS part start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul, ol, li{
    list-style: none;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.all_section_heading{
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0 40px 0;
}
.all_section_heading h2{
    color: var(--ah_black_color);
    font-size: 24px;
    font-weight: 500;
    font-family: var(--oswald_font);
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}
.all_section_heading h2::before{
    content: "";
    width: 64px;
    height: 2px;
    background: url(images/ab-shape.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
/* #ablueh{
    background: var(--main_hover);
} */
/* Common CSS part end */
/* About us part start */
#aboutus{}
.aboutus_items{
    display: flex;
    gap: 20px;
    align-items: center;
}
.aboutus_items .pic{
    width: 380px;
    background: var(--main_hover);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    position: relative;
    z-index: 1;
    object-fit: cover;
}
.aboutus_items .pic::after{
    content: "";
    width: 96%;
    height: 100%;
    background: var(--gray-white);
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    z-index: -1;
}
.aboutus_items .text{
    width: 540px;
    justify-content: center;
}
.aboutus_items .text p{
    color: var(--ap_black_color);
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--opensens_font);
}
.aboutus_items .text p span{
    display: block;
    margin-top: 40px;
}
/* About us part end */
/* Our services part start */
#ours{}
.ours_main{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.ours_main .ours_items{
    width: 300px;
    background: var(--gray-white);
}
.ours_main .ours_items .circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--gray-white);
    margin: 0 auto;
    transform: translateY(-50%);
    border: 3px solid var(--white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
}
.ours_main .ours_items .circle::after{
    content: "";
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--gray-white);
    outline: 3px solid var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* .ours_main .ours_items .circle img#ablueh{
    background: var(--main_hover);
} */
        .ours_main .ours_items .text{
    text-align: center;
    padding: 0 20px 20px;
}
.ours_main .ours_items .text h3{
    color: var(--ah_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--oswald_font);
}
.ours_main .ours_items .text p{
    color: var(--ap_black_color);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--opensens_font);
}
/* Our services part end */