/* CSS variables part start */
:root {
    --font_poppins: 'Poppins', sans-serif;
    --font_nunito: 'Nunito Sans', sans-serif;
    --dark_green_color: #007F5F;
    --white_color: #FFFFFF;
    --orange_color: #FF8B00;
    --all_heading_black_color: #292929;
    --all_paragraph_black_color: #6A6A6A;

}
/* CSS variables part end */
/* Common CSS part start */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
a,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}
.all_common_heading h2{
    color: var(--all_heading_black_color);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font-family)
}
.all_common_heading p{
    color: var(--all_paragraph_black_color);
    width: 692px;
    margin: 0 auto;
    padding-bottom: 112px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font-family)
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Common CSS part end */
/* Banner part start */
#banner{
    background: url(images/pack\ &\ go/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    background: rgba(0, 0, 0, 0.4);
}
.banner_info{
    width: 573px;
}
.banner_info h1{
    color: var(--white_color);
    font-size: 65px;
    font-weight: 600;
    font-family: var(--font_poppins);
    padding: 148px 0 30px 0;
}
.banner_info p{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_poppins);
}
.banner_btn a{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_poppins);
    background: var(--dark_green_color);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    padding: 16px 35px;
}
.banner_location{
    background: var(--white_color);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    padding: 35px 23px;
    display: flex;
    gap: 70px;
    width: fit-content;
    margin: 60px 0 122px 0;
    align-items: center;
}
.location_items h3{
    color: var(--all_heading_black_color);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: var(--all_heading_black_color);
}
.location_items i{}
.location_items h3 span{
    margin: 0 20px 0 11px;
}
.location_items i.agreenb{
    color: var(--dark_green_color);
}
.location_items input{
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_nunito);
    line-height: 26px;
    margin-left: 26px;
}
.location_btn a{
    color: var(--white_color);
    background: var(--dark_green_color);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    padding: 30px;

}
/* Banner part end */